body {
    margin: 0;
    font-family: monospace;
  }
  
  .meme-header {
    display: flex;
    justify-content: center;
    background: #b4c65d;
    opacity: .8;
    height: 4rem;
    padding: 1rem;
  }


  .meme-menu {
    /* margin-top: 144px; */
    display: flex;
    justify-content: left;
    background: #131115;
    opacity: .8;
    height: 1rem;
    padding: 1rem;
  }

  
  #meme-header img {
    height: 6rem;
    width: auto;
  }
  
  #meme-collection {
    margin: 2rem;
  }
  
  .card {
    text-align: center;
    /* float: left; */
    border: grey solid 1px;
    padding: 1rem;
    width: 14rem;
    height: 17rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #d010aa
  }
  
  .meme-avatar {
    justify-self: center;
    /* height: 7.5rem;
    width: auto; */
  }
  
  button {
    position: relative;
    background-color: #fe0000;
    border: none;
    border-radius: 3px;
    height: 1.5rem;
    width: max-content;
    color: rgb(12, 12, 12);
    font-size: 12px;
    justify-self: center;
    margin-left: 2rem
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }
  
  .add-meme-form {
    width: 80%
  }
  
  .submit {
    position: relative;
    background-color: #e04b52;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }
  
  .search-input-text {
    border-radius: 5px;
    height: 80%;
    width: 90%;
    font-size: 15px;
    font-family: monospace;
    /* margin-right: 20px; */
  }

  .add-form {
    position: absolute;
    left: 150px;
    width: 200px;
    height: 120px;
    border: 3px solid rgb(128, 0, 0);
  }


  /* Split the screen in half */
.split {
    margin-top: 300px;
    margin-left: 0px;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(218, 162, 162);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  #outer  {
    width:100%;
    text-align: center;
  }
  .inner {
    display: inline-block;
  }
  
  